/* GLOBAL */

:root {
    --background: #f0f2f5;
    --soft-dark: #363f5f;
    --green: #49AA26;
    --ligth-green: #1de61d;
    --red: #e92929;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--background);
}

.section-title {
    font-weight: normal;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* Header */

header {
    background: #22460a;
    padding: 2rem 0 9rem;
    text-align: center;
}

#logo {
    color: white;
    font-weight: 200;
    font-size: 1.8rem;
}

/* Main */

main {
    width: min(800px, 90vw);
    margin: auto;
    margin-bottom: 8rem;
}

/* Balance */

#balance {
    column-gap: 1.5rem;
    margin-top: -6rem;
}

#balance h2 {
    color: white;
}

/* Card */

.card {
    background: white;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: .3rem;
    color: var(--soft-dark);
}

.card h3 {
    font-size: .9rem;
    font-weight: normal;
    padding: 0 0 1.2rem 0;
    display: flex;
    justify-content: space-between;
}

.card p {
    font-size: 2rem;
    font-weight: normal;
}

.card.total {
    background: var(--green);
    color: white;
}

/* Transitions */
#transitions h2 {
    color: var(--soft-dark);
}

#transitions .scrollable{
    overflow-x: auto;
}

#transitions table {
    width: 100%;
    margin: auto;
    border-spacing: 0 0.5rem;
    text-align: left;
    overflow-x: scroll;
}

#transitions table thead tr th {
    opacity: .4;
}

#transitions table tr {
    background: white;
    color: var(--soft-dark);
}

#transitions table tbody tr {
    opacity: .6;
    font-weight: 400;
}

#transitions table tr:hover {
    opacity: 1;
}

#transitions table tr th, td {
    padding: 1rem;
    color: var(--soft-dark);
    font-size: .9rem;
    font-weight: 500;
    border-radius: .3rem;
}

#transitions .expanse {
    color: #e92929
}

#transitions .income {
    color: #12a454
}

/* Footer */

footer {
    text-align: center;
    padding-bottom: 2rem;
    color: var(--soft-dark);
}

/* Link */

.link {
    color: var(--green);
    text-decoration: none;
}

.link:hover {
    color: var(--ligth-green);
}

/* Modal */
.modal{
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.87);

    opacity: 0;
    visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container{
    background: var(--background);
    padding: 2.4rem;
    width: 100%;
    max-width: 650px;
}

.modal-container .input-group{
    display: flex;
    flex-direction: column;
}

.modal-container h3{
    font-weight: normal;
    font-size: 1.4rem;
    color: var(--soft-dark);
    padding-bottom: 1rem;
}

.modal-container input{
    height: 50px;
    border: none;
    margin-bottom: 1rem;
    border-radius: .3rem;
    padding: 1rem;
}

.modal-container small{
    margin-top: -1rem;
    padding: 0;
    color: var(--soft-dark);
    font-size: .7rem;
    opacity: .6;
    margin-bottom: 1rem;
}

.modal-container .button-section{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.modal-container .button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    font-weight: 1.5rem;
    width: 47%;
    height: 50px;
    border-radius: .2rem;
}

.modal-container .button.cancel{
    background: none;
    color: var(--red);
    border: solid var(--red) 2px;
    opacity: .7;
}

.modal-container .button.save{
    background-color: var(--green);
    color: white;
}

.modal-container .button.cancel:hover{
    opacity: 1;
}
.active{
    opacity: 1;
    visibility: visible;
}

/* Responsive */

@media (min-width: 800px) {
    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr)
    }
}